<!DOCTYPE html>
<html>
  <%- include('partials/head') %> 
  <body>
   <%- include('partials/navbar') %>
    <div class="container-fluid p-4">
      <div class="row mb-4">
        <h1 class="col-xl-10"><%- title %></h1>

        <button class="btn btn-outline-dark col justify-content-end">  
          <a href="<%- category.url + '/delete' %> " class="text-decoration-none">Create new category</a>
        </button>
    </div>
      <h2>"<%- category.name %>" </h2>
      <div class="d-flex flex-wrap gap-4">
        <% category_items.forEach(item => { %>
          <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href='<%- item.url %> ' class="text-decoration-none text-dark"><%- item.name %></a>
            </h5>
          </div>
        </div>
       <% }) %> 
      </div>

      <div class="m-3">
      <button type="button" class="btn btn-outline-danger">
        <a href="<%- category.url %>/delete">Delete Item</a>
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <a href="<%- category.url %>/update">Update Item</a>
      </button>
    </div>

    </div> 
    
   
  </body>
</html>
