<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
   <%- include('partials/navbar') %>
    <div class="container-fluid p-4">
      
      <h1><%- title %></h1>
      
       <p><strong>Description:</strong> <%- item.description %> </p>
       <p><strong>Category:</strong>  <a href="<%- item.category.url %> "><%- item.category.name %></a> </p>
       <p><strong>Price:</strong> $ <%- item.price %> </p>
       <p><strong>Number in Stock:</strong> <%- item.number_in_stock %> </p>

    </div> 
    
   
  </body>
</html>
